.container {
  background-image: url("https://cdn.motor1.com/images/mgl/P33KbK/s2/audi-f1-2026.webp");
  background-position: 100% 0%;
  display: grid;
  grid-template-areas:
    "nav nav nav "
    "main cards cards";
}

.container .nav {
  grid-area: nav;
}
.container .main {
  grid-area: main;
}
.container .cards {
  grid-area: cards;
}

@font-face {
  font-family: "cards";
  src: url("../../font/bebas_neue/BebasNeue-Regular.ttf") format("truetype");
}

.cards {
  font-family: "cards";
  height: 523px;
  overflow-y: scroll; /* Habilita la barra de desplazamiento vertical cuando el contenido supera la altura máxima */
}
