.cards {
  width: 750px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 15px;
}

.paginado {
  display: flex;
  justify-content: center;
  justify-items: center;
}
@font-face {
  font-family: "options";
  src: url("../../font/bebas_neue/BebasNeue-Regular.ttf") format("truetype");
}

.styleButton1 {
  font-size: 20px;
  background-color: brown;
  font-family: "options";
  cursor: pointer;
}
